section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
}
.carroussel {
  position: relative;
  height: 415px;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.image {
  width: 100%;
  max-width: 1240px;
  height: 415px;
  object-fit: cover;
  border-radius: 25px;
  position: absolute;
}

.right-arrow {
  position: absolute;
  top: 40%;
  right: 62px;
  z-index: 1;
  cursor: pointer;
}

.left-arrow {
  position: absolute;
  top: 40%;
  left: 62px;
  z-index: 1;
  cursor: pointer;
}

.numeroimagesurtotal {
  position: absolute;
  z-index: 1;
  top: 85%;
  left: 49%;
  color: white;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .carroussel {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 15px;
    height: 255px;
    padding-left: 0;
    padding-right: 0;
  }
  .image {
    height: 255px;
    border-radius: 10px;
  }
  .right-arrow {
    width: 11.67px;
    height: 19.8px;
    right: 5px;
    top: 48%;
  }
  .left-arrow {
    width: 11.67px;
    height: 19.8px;
    left: 5px;
    top: 48%;
  }
  .numeroimagesurtotal {
    display: none;
  }
  #descriptionlogement {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 768.1px) and (max-width: 1440px) {
  .carroussel {
    margin-right: 100px;
    margin-left: 100px;
  }
  section {
    padding-left: 0;
    padding-right: 0;
  }
  .right-arrow {

    right: 25px;
    top: 42%;
  }
  .left-arrow {

    left: 25px;
    top: 42%;
  }
}