#contenuAPropos .dropdown {
  margin-left: auto;
  margin-right: auto;
}

.boutondropdown {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 1023px;
  background: #FF6060;
  border-radius: 5px;
  width: 100%;
  height: 47px;
  border: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 18.08px;
  padding-right: 18.08px;
  color: white;
  font-size: 24px;
  font-weight: 500;
  position:relative;
  z-index: 2;
  margin-bottom: -10px;
  margin-top: 31px;
}

.boutondropdown:hover {
  cursor: pointer;
}

.texte {
  padding-top: 36px;
  padding-right: 18px;
  padding-bottom: 36px;
  padding-left: 18px;
  background-color: #F6F6F6;
  border-radius: 5px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0em;
  color: #FF6060;
  position:relative;
  z-index: 1;
  max-width: 987px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .boutondropdown {
    height: 30px;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 13px;
    margin-bottom: -10px;
  }
  .texte {
    font-size: 12px;
  }
}

@media screen and (min-width: 768.1px) and (max-width: 1440px) {
  #descriptionequipements .dropdown {
    width: 47.5%;
  }
  #contenuAPropos .dropdown {
    width: 100%;
  }
  .dropdown .texte {
    font-size: 24px;
  }
}