footer {
  background-color: black;
  height: 209px;
  display: flex;
  margin-top: 40px;
}

footer h2 {
    font-weight: 300;
    margin-top: 50px;
}
#logoEtMention {
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
  
#logofooter {
  background-image: url("../logos/logofooter.png");
  width: 122px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}