header {
  display: flex;
  flex-direction: row;
  color: #FF6060;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  max-width: 1240px;
}

#navigation a {
  color: #FF6060;
  margin-left: 40px;
  font-size: 24px;
}

.active {
  text-decoration: underline;
}

.inactive {
  text-decoration: none;
}

#logo {
  background-image: url("../logos/logoheader.png");
  width: 211px;
  height: 68px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#navigation {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  header {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }

  #navigation a {
    margin-left: 20px;
    font-size: 12px;
    text-transform : uppercase;
  }

  #logo {
    width: 145px;
    height: 47px;
  }
}

@media screen and (min-width: 768.1px) and (max-width: 1440px) {
  header {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 374px) {
  #logo {
    width: 115px;
    height: 35px;
  }
}