header {
  display: flex;
  flex-direction: row;
  color: #FF6060;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
}

#navigation a {
  color: #FF6060;
  margin-left: 40px;
  font-size: 24px;
  text-decoration: none;
}

#navigation a:hover {
  text-decoration: underline;
}

#logo {
  background-image: url("../logos/logoheader.png");
  width: 211px;
  height: 68px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#navigation {
  display: flex;
  flex-direction: row;
}


@media screen and (max-width: 767.5px) {
  header {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }

  #navigation a {
    margin-left: 20px;
    font-size: 12px;
    text-transform : uppercase;
  }

  #logo {
    width: 145px;
    height: 47px;
  }
}